@import url(http://fonts.googleapis.com/css?family=Quicksand:400,700);


.no-support-message {
	display:none;
}

.impress-not-supported .no-support-message {
	display:block;
}

body {
	/*font:16px/24px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
	color:#333;
  background: url("../images/light_wool.png");
  font-family: 'Quicksand', Verdana, sans-serif;
  /*-webkit-font-smoothing: antialiased;*/
  /*font-size: 200%;*/
  /*font-weight: bold;*/
}

#impress {
  font-size: 200%;
  font-weight: bold;
}

.step {
	width:940px;
	margin:0 auto 24px auto;
	text-align:center;

}

.alignleft {
  text-align: left;
}