@import url(http://fonts.googleapis.com/css?family=Quicksand:400,700);


/*.no-support-message {
	display:none;
}

.impress-not-supported .no-support-message {
	display:block;
}
*/
body {
	/*font:16px/24px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
	color:#333;
  background: url("../images/light_wool.png");
  font-family: 'Quicksand', Verdana, sans-serif;
  /*-webkit-font-smoothing: antialiased;*/
  /*font-size: 200%;*/
  /*font-weight: bold;*/
}

#impress {
  font-size: 200%;
  font-weight: bold;
}

.step {
	width:940px;
	margin:0 auto 24px auto;
	text-align:center;
  opacity:0.1;
  transition:         opacity 1s;
  -webkit-transition: opacity 1s;
  -moz-transition:    opacity 1s;
  -ms-transition:     opacity 1s;
  -o-transition:      opacity 1s;
}

.step.active {
    opacity: 1;
}

.alignleft {
  text-align: left;
}

#social {position:absolute;top:10px;right:10px;}
#social .social-button-wrapper {display:inline-block;margin-left:10px}



#fallback-message {display:none;width:800px;margin:150px auto;font-size:20px;line-height:200%;text-align:center;}
#fallback-message a {font-weight:bold}
.impress-not-supported #fallback-message {display:block}

#hint{display:none}
/*.impress-enabled #hint{display:block;position:fixed;left:0;right:0;bottom:-100px;background:rgba(233,70,60,0.75);color:#eee;text-align:center;font-size:1.5em;padding:.5em 0;opacity:0;-webkit-transition:opacity .5s,bottom .5s;-moz-transition:opacity .5s,bottom .5s;-ms-transition:opacity .5s,bottom .5s;-o-transition:opacity .5s,bottom .5s;transition:opacity .5s,bottom .5s}*/
/*rgb(60,241,161) added to the above */
.impress-enabled #hint{display:block;position:fixed;left:0;right:0;bottom:-100px;background:rgba(241,161,60,0.75);color:#eee;text-align:center;font-size:1.5em;padding:.5em 0;opacity:0;-webkit-transition:opacity .5s,bottom .5s;-moz-transition:opacity .5s,bottom .5s;-ms-transition:opacity .5s,bottom .5s;-o-transition:opacity .5s,bottom .5s;transition:opacity .5s,bottom .5s}
.impress-on-title #hint{opacity:1;bottom:0;-webkit-transition:opacity .5s 1.5s,bottom .5s 1.5s;-moz-transition:opacity .5s 1.5s,bottom .5s 1.5s;-ms-transition:opacity .5s 1.5s,bottom .5s 1.5s;-o-transition:opacity .5s 1.5s,bottom .5s 1.5s;transition:opacity .5s 1.5s,bottom .5s 1.5s}